# INSAID Telecom Data Analysis

<img src="Telecom_Image.jpg" style="width:600px;height:250px"/>

## Table of Content

1. [Import Libraries](#section1)<br>
2. [Database Connection](#section2)<br>
3. [Data Extraction and Exploration](#section3)<br>

<a id=section1></a>
### Import Libraries

In [355]:
import pandas as pd
import numpy as np
import pandas_profiling
import seaborn as sns
import matplotlib.pyplot as plt
import plotly
import plotly.graph_objects as go
import mysql.connector
import statistics

<a id=section2></a>
#### Database connection

In [358]:
connection = mysql.connector.connect(host='cpanel.insaid.co',
                                         database='Capstone1',
                                         user='student',
                                         password='student')

<a id=section3></a>
#### Data Extraction and Exploration

In [359]:
sql_select_Query = "select * from information_schema.columns where table_name = 'gender_age_train'"
cursor = connection.cursor()
cursor.execute(sql_select_Query)
records = cursor.fetchall()
print("Total number of Columns in gender_age_train is: ", cursor.rowcount)
print("\nPrinting column Names of table gender_age_train ")
for row in records:
    print("Table_Name = ", row[2], )
    print("Column Name  = ", row[3], "\n")
    
print('---------------------------------------------------------------------------------------------------------')
sql_select_Query = "select * from gender_age_train"
cursor = connection.cursor()
cursor.execute(sql_select_Query)
records = cursor.fetchall()
print("\n Storing records from gender_age_train to dataframe")

gender_age_train_df = pd.DataFrame(records,columns = ['device_id','gender','age','group'])

Total number of Columns in gender_age_train is:  4

Printing column Names of table gender_age_train
Table_Name =  gender_age_train
Column Name  =  device_id

Table_Name =  gender_age_train
Column Name  =  gender

Table_Name =  gender_age_train
Column Name  =  age

Table_Name =  gender_age_train
Column Name  =  group

---------------------------------------------------------------------------------------------------------

 Storing records from gender_age_train to dataframe

In [360]:
gender_age_train_df.head(5)

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [361]:
#gender_age_train_df_new = gender_age_train_df.rename(columns={0:'device_id',1:'gender',2:'age',3:'group'})

#### Checking the NULL values

In [362]:
def missing_data(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total,percent], axis = 1, keys = ['Total','Percent'])

In [363]:
missing_data(gender_age_train_df)

           Total  Percent
group          0      0.0
age            0      0.0
gender         0      0.0
device_id      0      0.0

In [364]:
gender_age_train_df.shape

(74645, 4)

In [365]:
gender_age_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
device_id    74645 non-null int64
gender       74645 non-null object
age          74645 non-null int64
group        74645 non-null object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [366]:
gender_age_train_df.describe(include= 'all')

           device_id gender           age   group
count   7.464500e+04  74645  74645.000000   74645
unique           NaN      2           NaN      12
top              NaN      M           NaN  M23-26
freq             NaN  47904           NaN    9605
mean   -7.491354e+14    NaN     31.410342     NaN
std     5.327150e+18    NaN      9.868735     NaN
min    -9.223067e+18    NaN      1.000000     NaN
25%    -4.617367e+18    NaN     25.000000     NaN
50%    -1.841362e+16    NaN     29.000000     NaN
75%     4.636656e+18    NaN     36.000000     NaN
max     9.222849e+18    NaN     96.000000     NaN

There is no NULL values in Gender Age dataset.

In [367]:
 gender_age_train_df['gender'].value_counts()

M    47904
F    26741
Name: gender, dtype: int64

In [368]:
sql_select_Query = "select * from information_schema.columns where table_name = 'phone_brand_device_model'"
cursor = connection.cursor()
cursor.execute(sql_select_Query)
records = cursor.fetchall()
print("Total number of Columns in phone_brand_device_model is: ", cursor.rowcount)
print("\nPrinting column Names of table phone_brand_device_model ")
for row in records:
    print("Table_Name = ", row[2], )
    print("Column Name  = ", row[3], "\n")
    
print('---------------------------------------------------------------------------------------------------------')
sql_select_Query = "select * from phone_brand_device_model"
cursor = connection.cursor()
cursor.execute(sql_select_Query)
records = cursor.fetchall()
print("\n Storing records from phone_brand_device_model to dataframe")

phone_brand_device_model_df = pd.DataFrame(records,columns = ['device_id','phone_brand','device_model'])

Total number of Columns in phone_brand_device_model is:  3

Printing column Names of table phone_brand_device_model
Table_Name =  phone_brand_device_model
Column Name  =  device_id

Table_Name =  phone_brand_device_model
Column Name  =  phone_brand

Table_Name =  phone_brand_device_model
Column Name  =  device_model

---------------------------------------------------------------------------------------------------------

 Storing records from phone_brand_device_model to dataframe

In [369]:
phone_brand_device_model_df.head()

             device_id phone_brand device_model
0  1877775838486905855        vivo          Y13
1 -3766087376657242966          小米         V183
2 -6238937574958215831        OPPO          R7s
3  8973197758510677470          三星        A368t
4 -2015528097870762664          小米      红米Note2

In [372]:
phone_brand_device_model_df['phone_brand'].unique()

array(['vivo', '小米', 'OPPO', '三星', '酷派', '联想 ', '华为', '奇酷', '魅族', '斐讯',
       '中国移动', 'HTC', '天语', '至尊宝', 'LG', '欧博信', '优米', 'ZUK', '努比亚', '惠普',
       '尼比鲁', '美图', '乡米', '摩托罗拉', '梦米', '锤子', '富可视', '乐视', '海信', '百立丰',
       '一加', '语信', '海尔', '酷比', '纽曼', '波导', '朵唯', '聆韵', 'TCL', '酷珀', '爱派尔',
       'LOGO', '青葱', '果米', '华硕', '昂达', '艾优尼', '康佳', '优购', '邦华', '赛博宇华',
       '黑米', 'Lovme', '先锋', 'E派', '神舟', '诺基亚', '普耐尔', '糖葫芦', '亿通', '欧新',
       '米奇', '酷比魔方', '蓝魔', '小杨树', '贝尔丰', '糯米', '米歌', 'E人E本', '西米', '大Q',
       '台电', '飞利浦', '唯米', '大显', '长虹', '维图', '青橙', '本为', '虾米', '夏新', '帷幄',
       '百加', 'SUGAR', '欧奇', '世纪星', '智镁', '欧比', '基伍', '飞秒', '德赛', '易派',
       '谷歌', '金星数码', '广信', '诺亚信', 'MIL', '白米', '大可乐', '宝捷讯', '优语', '首云',
       '瑞米', '瑞高', '沃普丰', '摩乐', '鲜米', '凯利通', '唯比', '欧沃', '丰米', '恒宇丰',
       '奥克斯', '西门子', '欧乐迪', 'PPTV'], dtype=object)

In [ ]:
phone_brand_device_model_df = phone_brand_device_model_df['phone_brand'].replace()

In [34]:
phone_brand_device_model_df['device_id'].unique()

array([ 1877775838486905855, -3766087376657242966, -6238937574958215831,
       ..., -3358291377416935026,  3282788959750981633,
        2491639413207286271], dtype=int64)

In [35]:
phone_brand_device_model_df.shape

(87726, 3)

In [36]:
phone_brand_device_model_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87726 entries, 0 to 87725
Data columns (total 3 columns):
device_id       87726 non-null int64
phone_brand     87726 non-null object
device_model    87726 non-null object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [37]:
phone_brand_device_model_df.isnull().sum()

device_id       0
phone_brand     0
device_model    0
dtype: int64

### Events Data Extraction and Exploration

In [148]:
Events_data_df = pd.read_csv('F:\Data science Course\Machine learning-2\INSAID Telecom Capstone project\events_data.csv')

In [149]:
Events_data_df.head()

,event_id,device_id,timestamp,longitude,latitude,city,state
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi
1,2955066,4.734221e+18,2016-05-01 20:44:16,88.388361,22.660325,Calcutta,WestBengal
2,605968,-3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi
3,448114,5.731369e+18,2016-05-03 13:21:16,80.343613,13.153332,Chennai,TamilNadu
4,665740,3.388880e+17,2016-05-06 03:51:05,85.997745,23.842609,Bokaro,Jharkhand

In [150]:
Events_data_df.shape

(3252950, 7)

In [151]:
Events_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
event_id     int64
device_id    float64
timestamp    object
longitude    float64
latitude     float64
city         object
state        object
dtypes: float64(3), int64(1), object(3)
memory usage: 173.7+ MB

In [152]:
Events_data_df.describe(include = 'all')

,event_id,device_id,timestamp,longitude,latitude,city,state
count,3.252950e+06,3.252497e+06,3252950,3.252527e+06,3.252527e+06,3252950,3252573
unique,NaN,NaN,588126,NaN,NaN,933,32
top,NaN,NaN,2016-05-03 10:00:03,NaN,NaN,Delhi,Delhi
freq,NaN,NaN,43,NaN,NaN,744276,751733
mean,1.626476e+06,1.012200e+17,NaN,7.815868e+01,2.168851e+01,NaN,NaN
std,9.390459e+05,5.316758e+18,NaN,4.235570e+00,5.789111e+00,NaN,NaN
min,1.000000e+00,-9.222957e+18,NaN,1.256700e+01,8.190110e+00,NaN,NaN
25%,8.132382e+05,-4.540611e+18,NaN,7.583543e+01,1.780171e+01,NaN,NaN
50%,1.626476e+06,1.726820e+17,NaN,7.726814e+01,2.216454e+01,NaN,NaN
75%,2.439713e+06,4.861813e+18,NaN,8.031916e+01,2.868278e+01,NaN,NaN
max,3.252950e+06,9.222849e+18,NaN,9.545946e+01,4.187190e+01,NaN,NaN

In [153]:
Events_data_df.isnull().sum()

event_id       0
device_id    453
timestamp      0
longitude    423
latitude     423
city           0
state        377
dtype: int64

#### Replaceing NULL values for state

In [154]:
Events_data_df['state'].unique()

array(['Delhi', 'WestBengal', 'TamilNadu', 'Jharkhand', 'AndhraPradesh',
       'Maharashtra', 'Gujarat', 'Kerala', 'MadhyaPradesh', 'Karnataka',
       'Rajasthan', 'Orissa', 'Punjab', 'UttarPradesh', 'Nagaland',
       'Haryana', 'Telangana', 'Chhattisgarh', 'Bihar', 'JammuandKashmir',
       'Assam', 'Goa', 'Mizoram', 'Tripura', 'Uttaranchal', nan,
       'Pondicherry', 'Manipur', 'Meghalaya', 'ArunachalPradesh',
       'HimachalPradesh', 'Chandigarh', 'AndamanandNicobarIslands'],
      dtype=object)

In [155]:
Events_data_df[Events_data_df['state'].isnull()]['city'].sort_values(ascending = True).unique()

array(['Arambagh', 'Channapatna', 'Chennai', 'Delhi', 'Gangarampur',
       'Indore', 'Jaipur', 'Pune', 'Visakhapatnam'], dtype=object)

The above cities are having states as NULL.

In [156]:
Events_data_df.loc[Events_data_df['city'] =='Visakhapatnam'].isnull().sum()

event_id      0
device_id    69
timestamp     0
longitude    63
latitude     63
city          0
state        47
dtype: int64

In [157]:
Events_data_df.loc[(Events_data_df['city'] =='Arambagh') & (Events_data_df['state'].isnull()),'state'] = 'WestBengal'

In [158]:
Events_data_df.loc[(Events_data_df['city'] =='Channapatna') & (Events_data_df['state'].isnull()),'state'] = 'Karnataka'

In [159]:
Events_data_df.loc[(Events_data_df['city'] =='Chennai') & (Events_data_df['state'].isnull()),'state'] = 'TamilNadu'

In [160]:
Events_data_df.loc[(Events_data_df['city'] =='Delhi') & (Events_data_df['state'].isnull()),'state'] = 'Delhi'

In [161]:
Events_data_df.loc[(Events_data_df['city'] =='Gangarampur') & (Events_data_df['state'].isnull()),'state'] = 'WestBengal'

In [162]:
Events_data_df.loc[(Events_data_df['city'] =='Indore') & (Events_data_df['state'].isnull()),'state'] = 'MadhyaPradesh'

In [163]:
Events_data_df.loc[(Events_data_df['city'] =='Jaipur') & (Events_data_df['state'].isnull()),'state'] = 'Rajasthan'

In [164]:
Events_data_df.loc[(Events_data_df['city'] =='Pune') & (Events_data_df['state'].isnull()),'state'] = 'Maharashtra'

In [165]:
Events_data_df.loc[(Events_data_df['city'] =='Visakhapatnam') & (Events_data_df['state'].isnull()),'state'] = 'AndhraPradesh'

In [166]:
Events_data_df[Events_data_df['city']=='Visakhapatnam'].isnull().sum()

event_id      0
device_id    69
timestamp     0
longitude    63
latitude     63
city          0
state         0
dtype: int64

In [167]:
Events_data_df.isnull().sum()

event_id       0
device_id    453
timestamp      0
longitude    423
latitude     423
city           0
state          0
dtype: int64

#### Checking NULL values for Longitude

In [168]:
Events_data_df[Events_data_df['longitude'].isnull()]['city'].unique()

array(['Delhi', 'Indore', 'Visakhapatnam', 'Chennai', 'Pune', 'Jaipur',
       'Araria', 'Moga', 'Bagaha'], dtype=object)

In [169]:
#Events_data_df.loc[(Events_data_df['city']=='Delhi')].head()

We can observe in the above result that longitude and latitude almost same for all records for Delhi. So, We can fill NULL values with median or mean values.

### Replacing NULL values of Longitude and Latitude with Mode for "Delhi" city

#### Longitude Mode value for Delhi

In [223]:
Delhi_long_mode=Events_data_df.loc[Events_data_df['city']=='Delhi']['longitude'].mode()
Delhi_long_mode

0    77.293991
dtype: float64

#### Latitude Mode value for Delhi

In [224]:
Delhi_lat_mode=Events_data_df.loc[Events_data_df['city']=='Delhi']['latitude'].mode()
Delhi_lat_mode

0    28.74982
dtype: float64

In [225]:
Events_data_df.loc[(Events_data_df['city']=='Delhi') & (Events_data_df['longitude'].isnull())].isnull().sum()

event_id      0
device_id     0
timestamp     0
longitude    63
latitude     63
city          0
state         0
dtype: int64

We do have 63 NULL values for longitude as well latitude

In [226]:
Events_data_df.loc[(Events_data_df['city']=='Delhi') & (Events_data_df['longitude'].isnull()),'longitude'] = '77.293991'
Events_data_df.loc[(Events_data_df['city']=='Delhi') & (Events_data_df['latitude'].isnull()),'latitude'] = '28.74982'

In [227]:
Events_data_df.loc[(Events_data_df['city']=='Delhi') & (Events_data_df['latitude'].isnull())].isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

### Replacing NULL values of Longitude and Latitude with Mode for "Indore" city

#### Longitude Mode value for Indore

In [228]:
Indore_long_mode = Events_data_df.loc[Events_data_df['city']=='Indore']['longitude'].mode()
Indore_long_mode

0    75.8955
dtype: object

#### Latitude Mode value for Indore

In [229]:
Indore_lat_mode = Events_data_df.loc[Events_data_df['city']=='Indore']['latitude'].mode()
Indore_lat_mode

0    22.8098
dtype: object

In [230]:
Events_data_df.loc[(Events_data_df['city']=='Indore') & (Events_data_df['latitude'].isnull())].isnull().sum()

event_id      0
device_id     0
timestamp     0
longitude    63
latitude     63
city          0
state         0
dtype: int64

In [231]:
Events_data_df.loc[(Events_data_df['city']=='Indore') & (Events_data_df['longitude'].isnull()),'longitude'] = '75.8955'
Events_data_df.loc[(Events_data_df['city']=='Indore') & (Events_data_df['latitude'].isnull()),'latitude'] = '22.8098'

In [232]:
Events_data_df.loc[(Events_data_df['city']=='Indore') & (Events_data_df['latitude'].isnull())].isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

### Replacing NULL values of Longitude and Latitude with Mode for "Visakhapatnam" city

#### Longitude Mode value for Visakhapatnam

In [233]:
Visakha_long_mode=Events_data_df.loc[Events_data_df['city']=='Visakhapatnam']['longitude'].mode()
Visakha_long_mode

0    83.3267
dtype: object

#### Latitude Mode value for Visakhapatnam

In [234]:
Visakha_lat_mode=Events_data_df.loc[Events_data_df['city']=='Visakhapatnam']['latitude'].mode()
Visakha_lat_mode

0    17.8297
dtype: object

In [235]:
Events_data_df.loc[(Events_data_df['city']=='Visakhapatnam') & (Events_data_df['latitude'].isnull())].isnull().sum()

event_id      0
device_id     0
timestamp     0
longitude    63
latitude     63
city          0
state         0
dtype: int64

In [236]:
Events_data_df.loc[(Events_data_df['city']=='Visakhapatnam') & (Events_data_df['longitude'].isnull()),'longitude'] = '83.3267'
Events_data_df.loc[(Events_data_df['city']=='Visakhapatnam') & (Events_data_df['latitude'].isnull()),'latitude'] = '17.8297'

In [237]:
Events_data_df.loc[(Events_data_df['city']=='Visakhapatnam') & (Events_data_df['latitude'].isnull())].isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

### Replacing NULL values of Longitude and Latitude with Mode for "Chennai" city

#### Longitude Mode value for Chennai

In [238]:
Chennai_long_mode=Events_data_df.loc[Events_data_df['city']=='Chennai']['longitude'].mode()
Chennai_long_mode

0    80.3598
dtype: object

#### Latitude Mode value for Chennai

In [239]:
Chennai_lat_mode=Events_data_df.loc[Events_data_df['city']=='Chennai']['latitude'].mode()
Chennai_lat_mode

0    13.1282
dtype: object

In [240]:
Events_data_df.loc[(Events_data_df['city']=='Chennai') & (Events_data_df['longitude'].isnull())].isnull().sum()

event_id      0
device_id     0
timestamp     0
longitude    63
latitude     63
city          0
state         0
dtype: int64

In [241]:
Events_data_df.loc[(Events_data_df['city']=='Chennai') & (Events_data_df['longitude'].isnull()),'longitude'] = '80.3598'
Events_data_df.loc[(Events_data_df['city']=='Chennai') & (Events_data_df['latitude'].isnull()),'latitude'] = '13.1282'

In [242]:
Events_data_df.loc[(Events_data_df['city']=='Chennai') & (Events_data_df['longitude'].isnull())].isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

### Replacing NULL values of Longitude and Latitude with Mode for "Pune" city

#### Longitude Mode value for Pune

In [243]:
Pune_long_mode=Events_data_df.loc[Events_data_df['city']=='Pune']['longitude'].mode()
Pune_long_mode

0    73.9263
dtype: object

#### Latitude Mode value for Pune

In [244]:
Pune_lat_mode=Events_data_df.loc[Events_data_df['city']=='Pune']['latitude'].mode()
Pune_lat_mode

0    18.6161
dtype: object

In [245]:
Events_data_df.loc[(Events_data_df['city']=='Pune') & (Events_data_df['longitude'].isnull())].isnull().sum()

event_id      0
device_id     0
timestamp     0
longitude    63
latitude     63
city          0
state         0
dtype: int64

In [246]:
Events_data_df.loc[(Events_data_df['city']=='Pune') & (Events_data_df['longitude'].isnull()),'longitude'] = '73.9263'
Events_data_df.loc[(Events_data_df['city']=='Pune') & (Events_data_df['latitude'].isnull()),'latitude'] = '18.6161'

In [247]:
Events_data_df.loc[(Events_data_df['city']=='Pune') & (Events_data_df['longitude'].isnull())].isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

In [248]:
Events_data_df.isnull().sum()

event_id       0
device_id    453
timestamp      0
longitude    108
latitude     108
city           0
state          0
dtype: int64

### Replacing NULL values of Longitude and Latitude with Mode for "Jaipur" city

#### Longitude Mode value for Jaipur

In [249]:
Jaipur_long_mode=Events_data_df.loc[Events_data_df['city']=='Jaipur']['longitude'].mode()
Jaipur_long_mode

0    75.8941
dtype: object

#### Latitude Mode value for Jaipur

In [250]:
Jaipur_lat_mode=Events_data_df.loc[Events_data_df['city']=='Jaipur']['latitude'].mode()
Jaipur_lat_mode

0    26.9497
dtype: object

In [251]:
Events_data_df.loc[(Events_data_df['city']=='Jaipur') & (Events_data_df['longitude'].isnull())].isnull().sum()

event_id      0
device_id     0
timestamp     0
longitude    66
latitude     66
city          0
state         0
dtype: int64

In [252]:
Events_data_df.loc[(Events_data_df['city']=='Jaipur') & (Events_data_df['longitude'].isnull()),'longitude'] = '75.8941'
Events_data_df.loc[(Events_data_df['city']=='Jaipur') & (Events_data_df['latitude'].isnull()),'latitude'] = '26.9497'

In [253]:
Events_data_df.loc[(Events_data_df['city']=='Jaipur') & (Events_data_df['longitude'].isnull())].isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

### Replacing NULL values of Longitude and Latitude with Mode for "Araria" city

#### Longitude Mode value for Araria

In [254]:
Araria_long_mode=Events_data_df.loc[Events_data_df['city']=='Araria']['longitude'].mode()
Araria_long_mode

0    87.5707
dtype: object

#### Latitude Mode value for Araria

In [255]:
Araria_lat_mode=Events_data_df.loc[Events_data_df['city']=='Araria']['latitude'].mode()
Araria_lat_mode

0    26.2119
dtype: object

In [256]:
Events_data_df.loc[(Events_data_df['city']=='Araria') & (Events_data_df['longitude'].isnull())].isnull().sum()

event_id      0
device_id     0
timestamp     0
longitude    14
latitude     14
city          0
state         0
dtype: int64

In [257]:
Events_data_df.loc[(Events_data_df['city']=='Araria') & (Events_data_df['longitude'].isnull()),'longitude'] = '87.5707'
Events_data_df.loc[(Events_data_df['city']=='Araria') & (Events_data_df['latitude'].isnull()),'latitude'] = '26.2119'

In [258]:
Events_data_df.loc[(Events_data_df['city']=='Araria') & (Events_data_df['longitude'].isnull())].isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

### Replacing NULL values of Longitude and Latitude with Mode for "Moga" city

#### Longitude Mode value for Moga

In [259]:
Moga_long_mode=Events_data_df.loc[Events_data_df['city']=='Moga']['longitude'].mode()
Moga_long_mode

0    75.2687
dtype: object

#### Latitude Mode value for Moga

In [260]:
Moga_lat_mode=Events_data_df.loc[Events_data_df['city']=='Moga']['latitude'].mode()
Moga_lat_mode

0    30.9042
dtype: object

In [261]:
Events_data_df.loc[(Events_data_df['city']=='Moga') & (Events_data_df['longitude'].isnull())].isnull().sum()

event_id      0
device_id     0
timestamp     0
longitude    14
latitude     14
city          0
state         0
dtype: int64

In [262]:
Events_data_df.loc[(Events_data_df['city']=='Moga') & (Events_data_df['longitude'].isnull()),'longitude'] = '75.2687'
Events_data_df.loc[(Events_data_df['city']=='Moga') & (Events_data_df['latitude'].isnull()),'latitude'] = '30.9042'

In [263]:
Events_data_df.loc[(Events_data_df['city']=='Moga') & (Events_data_df['longitude'].isnull())].isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

### Replacing NULL values of Longitude and Latitude with Mode for "Bagaha" city

#### Longitude Mode value for Bagaha

In [264]:
Bagaha_long_mode=Events_data_df.loc[Events_data_df['city']=='Bagaha']['longitude'].mode()
Bagaha_long_mode

0    84.1409
dtype: object

#### Latitude Mode value for Bagaha

In [265]:
Bagaha_lat_mode=Events_data_df.loc[Events_data_df['city']=='Bagaha']['latitude'].mode()
Bagaha_lat_mode

0    27.1774
dtype: object

In [266]:
Events_data_df.loc[(Events_data_df['city']=='Bagaha') & (Events_data_df['longitude'].isnull())].isnull().sum()

event_id      0
device_id     0
timestamp     0
longitude    14
latitude     14
city          0
state         0
dtype: int64

In [267]:
Events_data_df.loc[(Events_data_df['city']=='Bagaha') & (Events_data_df['longitude'].isnull()),'longitude'] = '84.1409'
Events_data_df.loc[(Events_data_df['city']=='Bagaha') & (Events_data_df['latitude'].isnull()),'latitude'] = '27.1774'

In [268]:
Events_data_df.loc[(Events_data_df['city']=='Bagaha') & (Events_data_df['longitude'].isnull())].isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

In [272]:
missing_data(Events_data_df)

           Total   Percent
device_id    453  0.013926
state          0  0.000000
city           0  0.000000
latitude       0  0.000000
longitude      0  0.000000
timestamp      0  0.000000
event_id       0  0.000000

### Replace NULL values for "Device_id"

In [278]:
Events_data_df[Events_data_df['device_id'].isnull()].groupby(Events_data_df['city']).count()

,event_id,device_id,timestamp,longitude,latitude,city,state
city,,,,,,,
Bardoli,16,0,16,16,16,16,16
Chennai,63,0,63,63,63,63,63
Delhi,69,0,69,69,69,69,69
Hoshiarpur,16,0,16,16,16,16,16
Indore,51,0,51,51,51,51,51
Jaipur,81,0,81,81,81,81,81
Jetpur,16,0,16,16,16,16,16
Pune,72,0,72,72,72,72,72
Visakhapatnam,69,0,69,69,69,69,69

In [295]:
#Events_data_df.loc[(Events_data_df['city'] == 'Bardoli') & (Events_data_df['device_id'].isnull())]

In [293]:
#Events_data_df.loc[Events_data_df['city'] == 'Bardoli'].groupby(Events_data_df['device_id']).count()

In [308]:
Events_data_df.loc[Events_data_df['city'] == 'Bardoli']['device_id'].mode()

0   -8.215771e+18
dtype: float64

In [294]:
Events_data_df.loc[Events_data_df['city'] == 'Chennai']['device_id'].mode()

0    5.536513e+18
dtype: float64

In [296]:
Events_data_df.loc[Events_data_df['city'] == 'Delhi']['device_id'].mode()

0   -6.242501e+18
dtype: float64

In [297]:
Events_data_df.loc[Events_data_df['city'] == 'Hoshiarpur']['device_id'].mode()

0    1.750779e+18
dtype: float64

In [298]:
Events_data_df.loc[Events_data_df['city'] == 'Indore']['device_id'].mode()

0    3.751556e+18
dtype: float64

In [299]:
Events_data_df.loc[Events_data_df['city'] == 'Jaipur']['device_id'].mode()

0   -5.330179e+18
dtype: float64

In [300]:
Events_data_df.loc[Events_data_df['city'] == 'Jetpur']['device_id'].mode()

0   -1.688015e+18
dtype: float64

In [301]:
Events_data_df.loc[Events_data_df['city'] == 'Pune']['device_id'].mode()

0    4.428421e+17
dtype: float64

In [302]:
Events_data_df.loc[Events_data_df['city'] == 'Visakhapatnam']['device_id'].mode()

0    3.137054e+18
dtype: float64

In [305]:
Events_data_df.loc[(Events_data_df['city'] == 'Bardoli') & (Events_data_df['device_id'].isnull())].isnull().sum()

event_id      0
device_id    16
timestamp     0
longitude     0
latitude      0
city          0
state         0
dtype: int64

In [309]:
Events_data_df.loc[(Events_data_df['city'] == 'Bardoli') & (Events_data_df['device_id'].isnull()),'device_id'] = '-8.215771e+18'

In [312]:
Events_data_df.loc[(Events_data_df['city'] == 'Bardoli') & (Events_data_df['device_id'].isnull())].isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

In [313]:
Events_data_df.loc[(Events_data_df['city'] == 'Chennai') & (Events_data_df['device_id'].isnull()),'device_id'] = '5.536513e+18'

In [314]:
Events_data_df.loc[(Events_data_df['city'] == 'Chennai') & (Events_data_df['device_id'].isnull())].isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

In [315]:
Events_data_df.loc[(Events_data_df['city'] == 'Delhi') & (Events_data_df['device_id'].isnull()),'device_id'] = '-6.242501e+18'

In [316]:
Events_data_df.loc[(Events_data_df['city'] == 'Delhi') & (Events_data_df['device_id'].isnull())].isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

In [317]:
Events_data_df.loc[(Events_data_df['city'] == 'Hoshiarpur') & (Events_data_df['device_id'].isnull()),'device_id'] = '1.750779e+18'

In [321]:
Events_data_df.loc[(Events_data_df['city'] == 'Indore') & (Events_data_df['device_id'].isnull()),'device_id'] = '3.751556e+18'

In [322]:
Events_data_df.loc[(Events_data_df['city'] == 'Jaipur') & (Events_data_df['device_id'].isnull()),'device_id'] = '-5.330179e+18'

In [323]:
Events_data_df.loc[(Events_data_df['city'] == 'Jetpur') & (Events_data_df['device_id'].isnull()),'device_id'] = '-1.688015e+18'

In [324]:
Events_data_df.loc[(Events_data_df['city'] == 'Pune') & (Events_data_df['device_id'].isnull()),'device_id'] = '4.428421e+17'

In [325]:
Events_data_df.loc[(Events_data_df['city'] == 'Visakhapatnam') & (Events_data_df['device_id'].isnull()),'device_id'] = '3.137054e+18'

In [326]:
Events_data_df.isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

In [327]:
Events_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
event_id     int64
device_id    object
timestamp    object
longitude    object
latitude     object
city         object
state        object
dtypes: int64(1), object(6)
memory usage: 173.7+ MB

In [328]:
Events_data_df['longitude'] = Events_data_df['longitude'].astype(float)

In [330]:
Events_data_df['latitude'] = Events_data_df['latitude'].astype(float)

In [331]:
Events_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
event_id     int64
device_id    object
timestamp    object
longitude    float64
latitude     float64
city         object
state        object
dtypes: float64(2), int64(1), object(4)
memory usage: 173.7+ MB

In [354]:
Events_data_df.loc[Events_data_df['city'] == 'Delhi'].groupby(Events_data_df['device_id']).count()\
.sort_values('event_id', axis = 0, ascending = False)

,event_id,device_id,timestamp,longitude,latitude,city,state
device_id,,,,,,,
-6.242501e+18,4150,4150,4150,4150,4150,4150,4150
-8.340098e+18,3973,3973,3973,3973,3973,3973,3973
-3.746249e+18,3907,3907,3907,3907,3907,3907,3907
5.375599e+18,3128,3128,3128,3128,3128,3128,3128
4.782582e+18,2899,2899,2899,2899,2899,2899,2899
1.779631e+18,2757,2757,2757,2757,2757,2757,2757
5.098778e+18,2699,2699,2699,2699,2699,2699,2699
3.724655e+18,2324,2324,2324,2324,2324,2324,2324
-6.875586e+18,2287,2287,2287,2287,2287,2287,2287
6.356179e+18,2023,2023,2023,2023,2023,2023,2023
-1.516689e+18,1915,1915,1915,1915,1915,1915,1915
-3.230567e+18,1749,1749,1749,1749,1749,1749,1749
-3.926781e+18,1686,1686,1686,1686,1686,1686,1686
-2.241631e+18,1519,1519,1519,1519,1519,1519,1519
3.074309e+18,1511,1511,1511,1511,1511,1511,1511
1.057290e+18,1493,1493,1493,1493,1493,1493,1493
2.334569e+18,1444,1444,1444,1444,1444,1444,1444
-1.448079e+18,1368,1368,1368,1368,1368,1368,1368
2.297499e+18,1364,1364,1364,1364,1364,1364,1364
-4.912314e+18,1363,1363,1363,1363,1363,1363,1363
6.873838e+18,1352,1352,1352,1352,1352,1352,1352
8.656931e+18,1345,1345,1345,1345,1345,1345,1345
5.372094e+18,1338,1338,1338,1338,1338,1338,1338
-4.814794e+18,1311,1311,1311,1311,1311,1311,1311
2.526025e+18,1310,1310,1310,1310,1310,1310,1310
1.059108e+18,1303,1303,1303,1303,1303,1303,1303
-2.929762e+18,1293,1293,1293,1293,1293,1293,1293
4.229754e+18,1288,1288,1288,1288,1288,1288,1288
-6.633253e+18,1278,1278,1278,1278,1278,1278,1278
5.556226e+18,1271,1271,1271,1271,1271,1271,1271
...,...,...,...,...,...,...,...
8.548461e+17,2,2,2,2,2,2,2
-8.066472e+18,2,2,2,2,2,2,2
-4.145173e+17,2,2,2,2,2,2,2
-2.682980e+18,2,2,2,2,2,2,2
7.032952e+18,2,2,2,2,2,2,2
-1.238678e+18,2,2,2,2,2,2,2
4.037388e+18,2,2,2,2,2,2,2
-5.189113e+18,2,2,2,2,2,2,2
-2.567272e+18,2,2,2,2,2,2,2
-7.055184e+18,2,2,2,2,2,2,2
-3.185656e+18,2,2,2,2,2,2,2
5.627730e+18,2,2,2,2,2,2,2
-2.628141e+18,2,2,2,2,2,2,2
-5.373014e+18,2,2,2,2,2,2,2
-5.290404e+18,1,1,1,1,1,1,1
-2.847721e+18,1,1,1,1,1,1,1
-7.439591e+18,1,1,1,1,1,1,1
-4.906060e+18,1,1,1,1,1,1,1
2.226134e+16,1,1,1,1,1,1,1
1.000867e+18,1,1,1,1,1,1,1
7.216019e+18,1,1,1,1,1,1,1
-9.219659e+17,1,1,1,1,1,1,1
5.303891e+18,1,1,1,1,1,1,1
5.302976e+18,1,1,1,1,1,1,1
5.274056e+18,1,1,1,1,1,1,1
-3.253366e+18,1,1,1,1,1,1,1
-8.315171e+18,1,1,1,1,1,1,1
-8.347512e+18,1,1,1,1,1,1,1
-6.109104e+17,1,1,1,1,1,1,1
-6.023100e+18,1,1,1,1,1,1,1